name: soul

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build_and_run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install pyTelegramBotAPI

      - name: Run bot
        timeout-minutes: 240
        run: python3 bot.py
